.centerFlex {
  display: flex;
  justify-content: center;
}
.startFlex {
  display: flex;
  justify-content: flex-start;
}
.endFlex {
  display: flex;
  justify-content: flex-end;
}
.inline {
  display: inline-block;
}
.logo {
  width: 150px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 20px;
  position: absolute;
  top: 20px;
  left: 5%;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #e6e7e9;
  box-sizing: content-box;
}
@media (min-width: 1025px) {
  .logo {
    left: 2%;
  }
}
@media  (min-width: 769px) and (max-width: 1024px) {
  .logo {
    left: 1%;
    width: 80px;
  }
}
.topSmallText {
  font-size: x-small;
  /* text-align: center; */
}
.colorThemeDark {
  background-color: #2a3740;
  color: white;
}
.colorThemeWhite {
  background-color: #f1f1f1;
  color: black;
}
.colorThemeGrayDark {
  background-color: #e6e7e9;
  color: black;
}
.colorThemeYellow {
  background-color: #dc9204;
  color: black;
}
.textSrtip {
  font-size: medium;
  padding: 5px;
}
.headerText a {
  text-decoration: none;
  color: black;
}

.grad1 {
  background-color: #585e64; /* For browsers that do not support gradients */
  background-image: linear-gradient(#585e64, #e6e7e9);
}
.calBox {
  margin-right: 10px;
  background-color: #ffffff;
  padding: 20px;
  height: 100%;
}


@media  (min-width: 769px){
  .boderRight {
    border-right: 1px solid #e6e7e9;
  }
}
.headerBox {
  display: flex;
  justify-content: center;
}
.headerBoxBtn {
  font-weight: 600;
  border: #dc9204 solid 2px;
  background-color: #2a3740;
  color: #e6e7e9;
  border-radius: 15px;
  width: fit-content;
  padding: 4px 20px;
}
.listBtn {
  font-weight: 600;
  border: #2a3740 solid 2px;
  background-color: #dc9204;
  color: #2a3740;
  border-radius: 15px;
  width: fit-content;
  padding: 2px 10px;
}

.custom-border {
  position: relative;
  font-weight: bold;
  color: #6c757d;
}

.custom-border:after {
  content: " ";
  position: absolute;
  border-right: 1px #6c757d solid;
  top: 35%;
  right: 0;
  height: 30%;
  margin-top: auto;
  margin-bottom: auto;
}
.sliderBoxes {
  border: 2px solid #dc9204;
  background-color: white;
  color: #2a3740;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
}

.slider {
  display: inline;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.footerNote {
  background-color: #e6e7e9;
  color: black;
}
.footerLinks {
  background-color: #2a3740;
  color: white;
}
.footerLinks a {
  font-size: small;
  text-decoration: none;
  color: white;
}
.footerText a {
  text-decoration: none;
  color: black;
}
.footerText {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
/* sceen check */
@media only screen and (max-width: 768px) {
  .hidersm {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .logo {
    left: 5px;
    width: 70px;
  }
}
@media  (min-width: 768px) { 
  .hiderLg{
    display: none;
  }
}
